.glass-ui-container {
  position: relative;
  word-break: break-all;
  user-select: none;
}
.glass-ui-card-content {
  position: relative;
  z-index: 3;
}
.content-center {
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}
